In [2]:

import numpy as np
import pandas as pd

In [4]:

# series with numpy linspace()
ser = pd.Series(np.array([10, 20, 30, 40, 50, 60, 70, 80 ,90, 100]))
ser

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int32

In [5]:
#retreieve first 5 element from series
ser[:5]

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [6]:
#retreieve last 5 element from series
ser[5:]

5     60
6     70
7     80
8     90
9    100
dtype: int32

In [8]:
#accessing a element using index element
ser[4]

50

In [9]:
ser.values #show the values of series

array([ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100])

In [10]:
ser.index #show indexes

RangeIndex(start=0, stop=10, step=1)

In [13]:
# create series with an index
tempreature = pd.Series([23,10,15,50,45],index=['USSR','Germany','China','Oman','Bahrin'])
tempreature

USSR       23
Germany    10
China      15
Oman       50
Bahrin     45
dtype: int64

In [14]:
tempreature['Oman']

50

In [15]:
#get countries with tempreature greater then 40
tempreature[tempreature>40]

Oman      50
Bahrin    45
dtype: int64

In [16]:
# chick if UAE in series
'UAE' in tempreature

False

In [17]:
#convert series to python dictionary
temp_dict = tempreature.to_dict()
temp_dict

{'USSR': 23, 'Germany': 10, 'China': 15, 'Oman': 50, 'Bahrin': 45}

In [18]:
#we can give name for series
tempreature.name = 'Tempreatures in countries'
tempreature

USSR       23
Germany    10
China      15
Oman       50
Bahrin     45
Name: Tempreatures in countries, dtype: int64

In [22]:
data = [10,20,30,40,50]

In [23]:
#  Create a Series using the following data: data = [10, 20, 30, 40, 50]
series = pd.Series(data)
series

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [39]:
 #Assign the following index labels to the Series: index = ['a', 'b', 'c', 'd', 'e']
lab_series = pd.Series(data,index = ['a', 'b', 'c', 'd', 'e'])    
lab_series

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [30]:
# Use index values to select the values of the Series for the labels 'b' and 'e'
lab_series['b'] ,lab_series['e']

(20, 50)

In [41]:
#Check if the Series contains the value 20 using a boolean array.
20 in lab_series.values

True

In [44]:
#  Check if the Series contains the values 15 and 20 using a boolean array.
20 and 15 in lab_series.values

False

In [45]:
# Add the value 5 to each element of the Series using array operations.
lab_series +5

a    15
b    25
c    35
d    45
e    55
dtype: int64

In [48]:
#Convert the Series into a Python dictionary and check its values.
ser_to_dict = lab_series.to_dict()
ser_to_dict

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}

In [50]:
"""
Pass a dictionary to the Series constructor and assign the following keys and values:
{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50, 'f': 60}

"""
dict1 = {'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50, 'f': 60}
ser = pd.Series(dict1)
ser

a    10
b    20
c    30
d    40
e    50
f    60
dtype: int64

In [54]:
#  Check if any values in the Series are null or not null using isnull() and notnull() methods.
print(ser.isnull())
print()
print(ser.notnull())

a    False
b    False
c    False
d    False
e    False
f    False
dtype: bool

a    True
b    True
c    True
d    True
e    True
f    True
dtype: bool

In [56]:
#  Create another Series using the following data: data2 = [20, 30, 40, 50, 60]
data2 = [20, 30, 40, 50, 60]
ser2= pd.Series(data2)
ser2

0    20
1    30
2    40
3    50
4    60
dtype: int64

In [58]:
#  Assign the following index labels to the second Series: index2 = ['b', 'c', 'd', 'e', 'f']
ser2 = pd.Series(data2,index= ['b', 'c', 'd', 'e', 'f'])
ser2

b    20
c    30
d    40
e    50
f    60
dtype: int64

In [63]:
"""
 Add the two Series together and observe how pandas automatically aligns the data based on
their index labels.
"""
ser.append(ser2)

C:\Users\user\AppData\Local\Temp\ipykernel_4532\342972860.py:5: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ser.append(ser2)

0    20
1    30
2    40
3    50
4    60
b    20
c    30
d    40
e    50
f    60
dtype: int64

In [64]:
#  Use the unique() method to find the unique values in the Series.
np.unique(ser)

array([20, 30, 40, 50, 60], dtype=int64)